*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
body {
background: linear-gradient(#FFDF00,#58575C);
background-image:url("images/dust_scratches.png");
background-repeat: repeat;
}
#wrapper{
background-color: #58575C;
width: 80%;
margin-left: auto;
margin-right: auto;
min-height: 1000px;
}
header{
background-color:#FFDF00;
min-height: 200px;
background-image:url("images/halftone-yellow.png");
background-repeat: repeat;
text-align: center;
}
h1{
	font-size: 300%;
	text-shadow: 2px 2px 2px #403F45;
	font-style: italic;
}
#right{
	display: block;
	float: right;
	margin: 10px 10px;
}
#right a img{
	margin-top: 10px;
	border: none;
	float: left;
}
#social{
	border-bottom: 3px dashed black;
	font: bold italic 110% helvetica;
}
#main{
	background-color: white;
	min-height: 1000px;
}

nav{
overflow: hidden;
background-color: #403F45;

}
#center{
	display: block;
	margin-left: 10%;
	margin-right: 10%;
}
nav a{
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	float:left;
	padding: 20px 20px;
	text-decoration: none;
	color: #F5F5F5;
	
}
footer{
background-color: #58575C;
min-height: 150px;
}
.dropdown{
	float:left;
	overflow:hidden;
	
}
.dropdown .drop{
	font-size:16px;
	border: none;
	outline: none;
	color:#F5F5F5 /*black*/;
	background-color: #403F45 /*#F5F5F5*/;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	padding: 20px 20px;
}
.dropdown-content{
	display:none;
	position: absolute;
	min-width: 180px;
	z-index: 1;
	background-color: #403F45 /*white*/;
}
.dropdown-content a{
	color: #F5F5F5;
	float: none;
	padding: 10px 20px;
	text-decoration: none;
	text-align:left;
	display:block;
}
.dropdown:hover .dropdown-content{
	display:block;
}
nav a:hover , .dropdown:hover .drop{
	background-color: #FFDF00;
	color: black;
}


/*jk added made a new css*/

/* SL added */
#teampics{
	min-height: 500px;
}

.donate{
	float: right;
	overflow: hidden;
	padding-right:10px;
	padding-top:5px;
}


